<ion-header>
  <ion-navbar>
    <ion-title>{{ song.title && song.album ? song.title + ' - ' + song.album : song.file || 'Error' }}</ion-title>
    <ion-buttons end>
      <a ion-button icon-only [href]="download('music', song.id)" target="_blank">
        <ion-icon name="download"></ion-icon>
      </a>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <message-view *ngIf="isErrorView" icon="alert" message="Can't Load Music."></message-view>
  <message-view *ngIf="isEmptyView" icon="bookmark" message="Music Not Found."></message-view>
  <ion-grid [hidden]="!isContentView">
    <ion-row justify-content-center align-items-center>
      <ion-col text-center>
        <img [src]="song.picture ? song.picture.url() : 'assets/imgs/thumbnail.png'">
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer [hidden]="!isContentView">
  <audio controls crossorigin preload="none" #audio></audio>
</ion-footer>
