<ion-header>
  <ion-navbar>
    <ion-title *ngIf="!isSerie">{{ movie.title && movie.year ? movie.title + ' - ' + movie.year : movie.file || 'Error' }}</ion-title>
    <ion-title *ngIf="isSerie">{{ movie.title && movie.album ? movie.title + ' - ' + movie.album : movie.file || 'Error' }}</ion-title>
    <ion-buttons end>
      <a ion-button icon-only [href]="download(isSerie ? 'series' : 'movies', movie.id)" target="_blank">
        <ion-icon name="download"></ion-icon>
      </a>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <message-view *ngIf="isErrorView" icon="alert" message="Can't Load Movie."></message-view>
  <message-view *ngIf="isEmptyView" icon="bookmark" message="Movie Not Found."></message-view>
  <video [hidden]="!isContentView" controls crossorigin preload="none" #video></video>
</ion-content>
