<ion-header>
  <ion-navbar>
    <ion-title>{{ music.title && music.album ? music.title + ' - ' + music.album : 'Error' }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <message-view *ngIf="isErrorView" icon="alert" message="Can't Load Music."></message-view>
  <message-view *ngIf="isEmptyView" icon="bookmark" message="Music Not Found."></message-view>
  <ion-grid [hidden]="!isContentView">
    <ion-row justify-content-center align-items-center>
      <ion-col text-center>
        <ion-icon name="radio"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer [hidden]="!isContentView">
  <audio controls crossorigin preload="none" #audio></audio>
</ion-footer>
