<ion-header>
  <ion-navbar>
    <ion-title>{{ title || 'Unknown' }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <message-view *ngIf="isErrorView" icon="alert" message="Can't Load Serie."></message-view>
  <div *ngIf="isContentView">
    <ion-list *ngFor="let serie of series">
      <ion-item-divider>
        {{ 'Season ' + serie.objectId }}
        <ion-note item-end>{{ serie.count + ' Episodes' }}</ion-note>
      </ion-item-divider>
      <button ion-item *ngFor="let episode of serie.episodes" navPush="VideoPlayerPage" [navParams]="{ id: episode.id, isSerie: true }">
        {{ episode.track && episode.title ? episode.track + '. ' + episode.title : episode.file }}
      </button>
    </ion-list>
  </div>
</ion-content>
