<ion-header>
  <ion-navbar>
    <ion-title>{{ station.name ? station.name : 'Error' }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <message-view *ngIf="isErrorView" icon="wifi" message="No Connection Available"></message-view>
  <message-view *ngIf="isEmptyView" icon="sad" message="No Data Found"></message-view>
  <ion-grid [hidden]="!isContentView">
    <ion-row justify-content-center align-items-center>
      <ion-col text-center>
        <ion-icon name="radio"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer [hidden]="!isContentView">
  <audio controls crossorigin preload="none" #audio></audio>
</ion-footer>
