<ion-header>
  <ion-navbar>
    <ion-title>{{ game.name ? game.name : 'Error' }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <message-view *ngIf="isErrorView" icon="alert" message="Can't Load Game."></message-view>
  <message-view *ngIf="isEmptyView" icon="bookmark" message="Game Not Found."></message-view>
  <ion-card>
    <ion-card-header ion-item>
      <ion-thumbnail item-start>
        <img [src]="game.icon ? game.icon.url() : 'assets/imgs/thumbnail.png'">
      </ion-thumbnail>
      <h2>{{ game.name }}</h2>
      <p>Version: {{ game.versionName }}</p>
    </ion-card-header>
    <ion-card-content *ngIf="review" [innerHTML]="review | safe: 'html'">
    </ion-card-content>
    <ion-item>
      <a ion-button clear icon-left item-end [href]="getDownloadUrl('games', game.file)" target="_blank">
        <ion-icon name="download"></ion-icon>
        Download
      </a>
    </ion-item>
  </ion-card>
</ion-content>
